root = true

[*]
charset                       = utf-8
end_of_line                   = lf
indent_size                   = tab
indent_style                  = tab
insert_final_newline          = true
max_line_length               = 150
tab_width                     = 2
ij_continuation_indent_size   = 2
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag           = @formatter:on
ij_formatter_tags_enabled     = true
ij_smart_tabs                 = true
ij_visual_guides              = 120
# ij_wrap_on_typing = false
ij_any_line_comment_add_space = true

[.editorconfig]
ij_editorconfig_align_group_field_declarations = true

[{*.ad, *.adoc, *.asciidoc, .asciidoctorconfig}]
ij_asciidoc_blank_lines_after_header      = 1
ij_asciidoc_blank_lines_keep_after_header = 1
ij_asciidoc_formatting_enabled            = true
ij_asciidoc_one_sentence_per_line         = true

[{*.ant, *.fxml, *.jhm, *.jnlp, *.jrxml, *.plist, *.pom, *.rng, *.tld, *.wadl, *.wsdd, *.wsdl, *.xjb, *.xml, *.xsd, *.xsl, *.xslt, *.xul}]
tab_width                          = 2
ij_xml_align_attributes            = true
ij_xml_align_text                  = true
ij_xml_attribute_wrap              = split_into_lines
# ij_xml_block_comment_at_first_column = true
ij_xml_keep_blank_lines            = 1
ij_xml_keep_indents_on_empty_lines = false
ij_xml_keep_line_breaks            = false
ij_xml_keep_line_breaks_in_text    = true
ij_xml_keep_whitespaces            = false
ij_xml_space_inside_empty_tag      = true
ij_xml_text_wrap                   = normal

[{*.kt, *.kts}]
ij_kotlin_align_in_columns_case_branch                 = true
ij_kotlin_align_multiline_extends_list                 = false
ij_kotlin_align_multiline_parameters                   = true
ij_kotlin_align_multiline_parameters_in_calls          = true
ij_kotlin_code_style_defaults                          = KOTLIN_OFFICIAL
ij_kotlin_continuation_indent_for_chained_calls        = true
ij_kotlin_continuation_indent_in_supertype_lists       = true
ij_kotlin_enum_constants_wrap                          = on_every_item
ij_kotlin_extends_list_wrap                            = on_every_item
ij_kotlin_field_annotation_wrap                        = split_into_lines
ij_kotlin_import_nested_classes                        = true
ij_kotlin_imports_layout                               =
# ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^
ij_kotlin_insert_whitespaces_in_simple_one_line_method = true
ij_kotlin_method_annotation_wrap                       = split_into_lines
ij_kotlin_method_call_chain_wrap                       = normal
ij_kotlin_method_parameters_wrap                       = on_every_item
ij_kotlin_name_count_to_use_star_import                = 50
ij_kotlin_name_count_to_use_star_import_for_members    = 50
ij_kotlin_packages_to_use_import_on_demand             =
ij_kotlin_parameter_annotation_wrap                    = on_every_item
ij_kotlin_spaces_around_equality_operators             = true
ij_kotlin_spaces_around_logical_operators              = true
ij_kotlin_wrap_elvis_expressions                       = 1
ij_kotlin_wrap_expression_body_functions               = 1
ij_kotlin_wrap_first_method_in_call_chain              = false

[*.properties]
ij_properties_align_group_field_declarations    = false
ij_properties_spaces_around_key_value_delimiter = true

[{*.yml,*.yaml}]
tab_width                       = 2
ij_yaml_indent_sequence_value   = true
ij_yaml_align_values_properties = do_not_align
ij_yaml_space_before_colon      = false

[{.idea/*.xml, .run/*.run.xml}]
indent_size          = 2
indent_style         = space
insert_final_newline = false

[*.html]
ij_html_align_attributes               = true
ij_html_space_inside_empty_tag         = true
ij_html_keep_indents_on_empty_lines    = false
ij_html_do_not_indent_children_of_tags = none

[{package.json, pom-default.xml}]
tab_width    = 2
indent_style = space

